:root {
  --ic0: #f5f5f5;
  --ic1: #222;
}

input.small {
  max-width: 2.8rem;
  /* margin-right: 1rem; */
}

input.hsl {
  max-width: 8rem;
}

/* Color  */
input[type="color"] {
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
  border: none;
  outline: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
}

/* Range  */
input[type="range"] {
  height: 1rem;
  margin: 5px 0;
  width: 100%;
  background-color: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  cursor: pointer;
  border-radius: 1px;
}
input[type="range"]::-webkit-slider-thumb {
  border: 1px solid var(--ic0);
  height: 0.8rem;
  width: 0.8rem;
  background: var(--ic1);
  cursor: pointer;
  -webkit-appearance: none;
}
